.header-strip {
  display: flex;
  align-items: center;
  .logo-header,
  .title-header {
    display: flex;
    align-items: center;
  }
  .logo-header {
    flex-grow: 0;
  }
  .title-header {
    flex-grow: 1;
  }
  .main-navigation {
    flex-grow: 2;
  }
}