.header-strip {
  display: flex;
  align-items: center;
  .logo-header,
  .title-header {
    display: flex;
    align-items: center;
  }
  .logo-header {
    flex-grow: 0;
  }
  .title-header {
    flex-grow: 1;
  }
  .main-navigation {
    flex-grow: 2;
  }

  @media (max-width: 640px){
    .logo-header {
      display: none;
    }
    .title-header {
      padding: 10px 0;
    }
  }
  @media (max-width: 480px){
    flex-direction: column;
    
    .title-header,
    .main-navigation {
      width: 100%;
      flex-grow: 1;
      flex-direction: row;
      justify-content: center;
    }
    .site-navigation {
      text-align: center;
    }
  }
}
.site-content {
  padding-bottom: 60px;
}

/** Lista de Posts internos **/
.internal-postlist {
  display: flex;
  .site-card {
    width: 33.33333%;
    margin: 15px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}