//General
$title-header: #fff;

//Navabar
$navbar-color: #333;
$menu-color: #fff;

//Footer
$footer-color: #333;
$social-list-font-color: #fff;

//Tag list
$tag-list-font-color: #aaa;
$tag-list-font-color-hover: #333;

//Site card
$site-card-title-color: #333;
$site-card-font-color: #aaa;
